.navbar {
    color: #fff;
    padding: 10px 0;
  }

  .logo {
    width: 120px;
  }

.navbar1{
  background-color: #fff;
  padding-left: 38px;
  box-shadow: 5px 5px whitesmoke;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.nav-link{
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  color: rgb(2, 182, 83);
}